@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');


a,h1,h2,h3,h4,h5 {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #171717;
}

.nav_title {
    font-size: 24px;
    float:left
}

.nav_item  {
    font-size: 16px;
    float: right;
}
